# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual environment
# ========================
.venv/
env/

# ========================
# Env files (secrets)
# ========================
.env
.env.*

# ========================
# Data (VERY IMPORTANT)
# ========================
data/
datasets/
uploads/
output/
*.nii
*.nii.gz
*.csv

# ========================
# Models
# ========================
models/
checkpoints/
*.pt
*.pth
*.onnx

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# MLflow local
# ========================
mlflow.db

# ========================
# Cache
# ========================
.ruff_cache/

# ========================
# OS
# ========================
.DS_Store